body {
	font-family: $font-main;
}

#wrap {
	position: relative;
	min-height: calc(100vh - 70px);
}




h1 {
	margin: 0;
}

#main-nav {
	margin-bottom: 1em;
	a{
		color: white;
		font-weight: bold;
	}
	a:hover {
		color: $hover;
	}
}

#footer {
	color: $light-lavblue;
	font-size: 12px;
}

#main-content {
	min-height: calc(100vh - 95px);
}
